@import "../../.cache/wal/spotify/colors-spotify.scss"
@import "../../.cache/wal/colors.scss"

@import "./scss/indicator.scss"
@import "./scss/clock.scss"
@import "./scss/spotify_player.scss"
@import "./scss/workspaces.scss"
@import "./scss/logo.scss"
@import "./scss/bar.scss"
@import "./scss/music.scss"

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  border-radius: 15px;
}

.progress-cir {
  color: $color3;
  background-color: $background;
}
