@import "../../.cache/wal/spotify/colors-spotify.scss"
@import "../../.cache/current_wallpaper.scss"
@import "../../.cache/wal/colors.scss"

@import "./scss/indicator.scss"
@import "./scss/clock.scss"
@import "./scss/spotify_player.scss"
@import "./scss/workspaces.scss"
@import "./scss/logo.scss"
@import "./scss/bar.scss"
@import "./scss/music.scss"
@import "./scss/tray.scss"

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font", noto-clk, sans-serif, FC Lamoon;
  border-radius: 15px;
}

.progress-cir {
  color: $color3;
  background-color: $background;
}

.metric{
  all: unset;
  font-size: 1.2em;
  font-weight: bold;
  color: #FFFFFF;
  padding: 0.4em;
}

.metric scale trough highlight {
  all: unset;
  // background-color: #eb6f92;
  background-color: $spotify_color1;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: $spotify_color0;
  // background-color: #191724;
  border-radius: 2em;
  min-height: 0.4em;
  min-width: 7em;
  margin-left: 0.8em;
  margin-right: 0.2em;
}
