.logo {
  font-size: 24px;
  color: #FFFFFF;
  background-color: $color3;
  padding: 0 0.8rem 0 0.6rem;
  margin: 0.3rem;
  transition: 0.3s;
  min-width: 30px;
}

.logo-left{
  border-radius: 2rem 0.2rem 0.2rem 2rem;
}

.logo-right{
  border-radius: 0.2rem 2rem 2rem 0.2rem;
}

.logo:hover {
    background-color: mix($color2, $color3, 70%);
}
