
.music-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    margin: 0 50px;
    border-radius: 1rem;
}

.layout-box {
  font-family: JetBrainsMono Nerd Font;
  background-color: $spotify_background;
  // background-color: rgba(38, 35, 58, 0.8);
  border: 1px solid #FFFFFF;
}

.header{
  font-size: 1.2em;
  font-weight: bold;
  margin: 1em 0;
}

.metric{
  all: unset;
  font-size: 1.2em;
  font-weight: bold;
  color: #FFFFFF;
  padding: 0.4em;
}

.metric scale trough highlight {
  all: unset;
  // background-color: #eb6f92;
  background-color: $spotify_color1;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: $spotify_color0;
  // background-color: #191724;
  border-radius: 2em;
  min-height: 0.4em;
  min-width: 7em;
  margin-left: 0.8em;
  margin-right: 0.2em;
}

.btn {
  all: unset;
  font-size: 30px;
  transition: color 200ms;
}

.btn:hover {
  color: $spotify_color1;
  // color: #eb6f92;
}

.btn2:hover {
  transition: color 200ms;
  color: $spotify_color1;
  // color: #eb6f92;
}

.player_btn{
  font-size: 20px;
  background-color: #FFFFFF;
  min-height: 70px;
  min-width: 70px;
  // color: #000000;
  color: $spotify_background;
  border-radius: 100%;
  transition: background-color, color 200ms;
}

.player_btn:hover{
  // color: #eb6f92;
  color: #ffffff;
  background-color: $spotify_color1;
}
