.workspaces {
  border-radius: 2rem;
  padding: 0.5rem;
  margin: 0.2rem 1rem;
  background-color: #FFFFFF;
}

.workspace {
  background-color: mix($color3, #FFFFFF, 50%);
  border-radius: 2rem;
  margin: 0 0.25rem;
  min-width: 22px;
  transition: all 0.3s ease-in-out;

  &.current {
    background-color: $color3;
  }
}

.workspace:hover {
  background-color: $color3;
  &.current {
    background-color: $color3;
  }
}
