$spotify_background: {background.rgba};
$spotify_foreground: {foreground};
$spotify_cursor: {cursor};

// Colors
$spotify_color0: {color0};
$spotify_color1: {color1};
$spotify_color2: {color2};
$spotify_color3: {color3};
$spotify_color4: {color4};
$spotify_color5: {color5};
$spotify_color6: {color6};
$spotify_color7: {color7};
$spotify_color8: {color8};
$spotify_color9: {color9};
$spotify_color10: {color10};
$spotify_color11: {color11};
$spotify_color12: {color12};
$spotify_color13: {color13};
$spotify_color14: {color14};
$spotify_color15: {color15};
